body {
  background-image: url("../img/wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 1280px) {
	body {
		background: url("../img/wallpaper1.jpg");
	}
}

@media (max-width: 1024px) {
	body {
		background: url("../img/wallpaper2.jpg");
	}
}

@media (max-width: 960px) {
	body {
		background: url("../img/wallpaper3.jpg");
	}
}

@media (max-width: 800px) {
	body {
		background: url("../img/wallpaper4.jpg");
	}
}

@media (max-width: 720px) {
	body {
		background: url("../img/wallpaper5.jpg");
	}
}

@media (max-width: 540px) {
	body {
		background: url("../img/wallpaper6.jpg");
	}
}

@media (max-width: 480px) {
	body {
		background: url("../img/wallpaper7.jpg");
	}
}

body {
background-size: cover;
background-position: center center;
background-attachment: fixed;
}


ul {
  text-align: center;
  margin: 0 10% auto 10%;
  padding-inline-start: 0px;
}

li {
  display: inline-block;
  list-style-type: none;
  border-radius: 50%;
  height: 30px;
  background-color: rgba(0, 0, 155, 0.5);
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 155, 0.5);
  padding-left: 5em;
  padding-right: 5em;
}

li:hover {
  box-shadow: 0px 0px 30px 20px rgba(0, 155, 200, 0.5);
}

li:active {
  box-shadow: 0px 0px 30px 40px rgba(0, 200, 255, 0.5);
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50%;
  line-height: 30px;
}

footer {
  filter: opacity(0.7);
  overflow: hidden;
  height: 130px;
  border-radius: 50%;
  box-shadow: 0px 0px 30px 30px rgba(0, 0, 155, 0.7);
  margin: 50px 10% auto 10%;
  position: center;
  position: relative;
}

.tx_ftr {
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 130px;
  border-radius: 50%;
  width: 100%;
  margin: 0px;
  text-shadow:0px 1px 0 rgb(25,143,230),0px -1px 0 rgb(25,143,230),1px 0px 0 rgb(25,143,230),-1px 0px 0 rgb(25,143,230),1px 1px 0 rgb(25,143,230),1px -1px 0 rgb(25,143,230),-1px 1px 0 rgb(25,143,230),-1px -1px 0 rgb(25,143,230),0px 2px 0 rgb(25,143,230),0px -2px 0 rgb(25,143,230),2px 0px 0 rgb(25,143,230),-2px 0px 0 rgb(25,143,230),2px 2px 0 rgb(25,143,230),2px -2px 0 rgb(25,143,230),-2px 2px 0 rgb(25,143,230),-2px -2px 0 rgb(25,143,230),0px 3px 0 rgb(25,143,230),0px -3px 0 rgb(25,143,230),3px 0px 0 rgb(25,143,230),-3px 0px 0 rgb(25,143,230),3px 3px 0 rgb(25,143,230),3px -3px 0 rgb(25,143,230),-3px 3px 0 rgb(25,143,230),-3px -3px 0 rgb(25,143,230),0px 4px 0 rgb(25,143,230),0px -4px 0 rgb(25,143,230),4px 0px 0 rgb(25,143,230),-4px 0px 0 rgb(25,143,230),4px 4px 0 rgb(25,143,230),4px -4px 0 rgb(25,143,230),-4px 4px 0 rgb(25,143,230),-4px -4px 0 rgb(25,143,230),5px 5px 1px rgba(0,0,0,1);
  -webkit-text-shadow:0px 1px 0 rgb(25,143,230),0px -1px 0 rgb(25,143,230),1px 0px 0 rgb(25,143,230),-1px 0px 0 rgb(25,143,230),1px 1px 0 rgb(25,143,230),1px -1px 0 rgb(25,143,230),-1px 1px 0 rgb(25,143,230),-1px -1px 0 rgb(25,143,230),0px 2px 0 rgb(25,143,230),0px -2px 0 rgb(25,143,230),2px 0px 0 rgb(25,143,230),-2px 0px 0 rgb(25,143,230),2px 2px 0 rgb(25,143,230),2px -2px 0 rgb(25,143,230),-2px 2px 0 rgb(25,143,230),-2px -2px 0 rgb(25,143,230),0px 3px 0 rgb(25,143,230),0px -3px 0 rgb(25,143,230),3px 0px 0 rgb(25,143,230),-3px 0px 0 rgb(25,143,230),3px 3px 0 rgb(25,143,230),3px -3px 0 rgb(25,143,230),-3px 3px 0 rgb(25,143,230),-3px -3px 0 rgb(25,143,230),0px 4px 0 rgb(25,143,230),0px -4px 0 rgb(25,143,230),4px 0px 0 rgb(25,143,230),-4px 0px 0 rgb(25,143,230),4px 4px 0 rgb(25,143,230),4px -4px 0 rgb(25,143,230),-4px 4px 0 rgb(25,143,230),-4px -4px 0 rgb(25,143,230),5px 5px 1px rgba(0,0,0,1);
  -moz-text-shadow:0px 1px 0 rgb(25,143,230),0px -1px 0 rgb(25,143,230),1px 0px 0 rgb(25,143,230),-1px 0px 0 rgb(25,143,230),1px 1px 0 rgb(25,143,230),1px -1px 0 rgb(25,143,230),-1px 1px 0 rgb(25,143,230),-1px -1px 0 rgb(25,143,230),0px 2px 0 rgb(25,143,230),0px -2px 0 rgb(25,143,230),2px 0px 0 rgb(25,143,230),-2px 0px 0 rgb(25,143,230),2px 2px 0 rgb(25,143,230),2px -2px 0 rgb(25,143,230),-2px 2px 0 rgb(25,143,230),-2px -2px 0 rgb(25,143,230),0px 3px 0 rgb(25,143,230),0px -3px 0 rgb(25,143,230),3px 0px 0 rgb(25,143,230),-3px 0px 0 rgb(25,143,230),3px 3px 0 rgb(25,143,230),3px -3px 0 rgb(25,143,230),-3px 3px 0 rgb(25,143,230),-3px -3px 0 rgb(25,143,230),0px 4px 0 rgb(25,143,230),0px -4px 0 rgb(25,143,230),4px 0px 0 rgb(25,143,230),-4px 0px 0 rgb(25,143,230),4px 4px 0 rgb(25,143,230),4px -4px 0 rgb(25,143,230),-4px 4px 0 rgb(25,143,230),-4px -4px 0 rgb(25,143,230),5px 5px 1px rgba(0,0,0,1);
  font-size: 60px;
  font-family: Verdana, Geneva, sans-serif;
}


footer:hover {
  box-shadow: 0px 0px 30px 20px rgba(0, 155, 200, 0.5);
  filter: opacity(1);
}


h1, h3 {
  text-align: justify;
  margin: 30px 5% auto 5%;
  background-color: rgba(0, 0, 155, 0.4);
  border-radius: 10px;
  color: #fff;
  line-height: 2;
}

h1, p {
  text-align: center;
}


form {
  overflow: hidden;
  margin: 80px 10% auto 10%;
  position: center;
}

section {
  margin: 80px 10px auto 10px;
  overflow: hidden;
}

.auto_div{
  margin: 20px 5% auto 5%;
  overflow: hidden;
  float: left;
  height: 350px;
}

.scroll_model {
  display: block;
  height: 200px;
  width: 25%;
  overflow-y: scroll;
  margin: 75px auto 75px 10px;
  float: left;
}

 scroll-container {
  display: block;
  width: 50%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  float: left;
}

scroll-container:hover {
  box-shadow: 0px 0px 30px 20px rgba(0, 155, 200, 0.5);
  filter: opacity(1);
}

.model_car {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 5em;
}

table, th, td {
  border:1px solid black;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.indicators {
  display: block;
  height: 300px;
  width: 20%;
  margin: 25px auto 25px 10px;
  float: left;
  background-color: rgba(0, 0, 155, 0.4);
  color: #fff;
}
